
@font-face {
    font-family: 'pressstart';
    src: url('../font/PressStart2P-Regular.ttf');
}


html, body {
    font-size: 0;
    margin: 0;
    overflow: hidden;
    padding: 0;
    height: 100vh;
    width: 100vw;
}

.asset {
    display: none;
}

.canvas {
    position: absolute;
    bottom: 0;
}